<h1><%= @restaurant.name %></h1>
<%= render "restaurant", restaurant: @restaurant %>
<p><%= link_to "Back", restaurants_path %></p>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
<%= render "reviews/list", restaurant: @restaurant %>
